@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* BACKGROUND */
.login-hero {
  height: 100vh;
  background:
   
    url("loginimg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.6s ease;
 
  
}


/* LOGIN CARD */
.login-card {
  width: 380px;
  padding: 35px;
  border-radius: 18px;
  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.35);
  text-align: center;
  animation: slideUp 0.8s ease;
}
.login-card:hover{
    transform: scale(1.02);
}

.login-card h2 {
  color: #0A2540;
  margin-bottom: 5px;
}

.login-card p {
  color: #64748b;
  margin-bottom: 20px;
}

/* ROLES */

.dropdown-container {
  width: 320px;
  margin: 20px auto;
  text-align: left;
 
}

.dropdown-container label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  opacity: 0.85;
}

.dropdown-container select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border:none;
  outline: none;
  font-size: 15px;
  background: rgba(255,255,255,0.9);
  cursor: pointer;
}


/* INPUTS */
.field {
  position: relative;
  margin-bottom: 22px;
}

.field input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #CBD5E1;
  outline: none;
  font-size: 15px;
}

.field label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #64748b;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}

.field input:focus + label,
.field input:valid + label {
  top: -8px;
  background: white;
  padding: 0 6px;
  font-size: 12px;
  color: #1e40af;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #1e40af;
  background: white;
  color:#1e40af;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.login-btn:hover {
  background: #1e40af;
  color: white;
  transform: translateY(2px);
}

/* LINKS */
.extras {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.extras a {
  font-size: 14px;
  color: #F59E0B;
  text-decoration: none;
}

.extras a:hover {
  text-decoration: underline;
}



